body{
	background-color: white;
}
h1{
	color:white;
	background-color: black;
	border:1px solid black; 
	border-radius: 30px;
	text-align: center;
	letter-spacing: 2px;
}

p{
	color:black;
	text-align: justify;
	/*
	text-decoration:line-through ;*/
	text-transform: capitalize;
	text-indent: 50px;
	line-height: 1.5;
	word-spacing: 10px;
	
}

.exemplo-back{	
	height: 100px;
	background:gray url("../img/background.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 100px;
}

.botao{
	margin-left: 33%;
	background:green;
	color:whitesmoke;
	padding: 30px 50px 30px 50px; 
	border-radius: 30px;
	/* Para tirar o subescrito do link*/
	text-decoration: none;
}
.botao:hover{
	background:blue;
}

.teste{

	max-width: 800px;
	height: 150px;
	background-color: cyan;
}