body{
	background-color: white;
}
h1{
	color:#13a88f;
	border:10px inset blue; 
	/* solid, dottet dashed inset outset hidden none*/ 
	border-left: 5px solid green;
	border-radius: 20px;
}

p{
	color:blue;
}

.exemplo-back{	
	height: 300px;
	background:gray url("../img/background.jpg") no-repeat center;
	background-size: cover;


}